RewriteEngine On

RewriteRule ^(.*/)$        _gateway.php?PATH_INFO=/$1 [L,QSA]
RewriteRule ^(.*\.html)$   _gateway.php?PATH_INFO=/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$   _gateway.php?PATH_INFO=/$1 [L,QSA]

